.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: $dark-60;

  &__hamburger {
    width: 72px;
    min-width: 72px;
    height: 100%;
    background-color: $dark-40;
    transition: all 0.1s ease;

    &:hover {
        background-color: $orange-100;
    }
  }

  &__logo {
    height: 100%;
    width: 240px;
    margin-right: autos;
    padding: 28px 32px;
    border-right: 1px solid $dark-40;
  }

  
  &__text-input, .text-input {
    padding: 0 32px;
    flex-grow: 1;

		& .icon--close {
			display: none;
		}

  }
  
  &__button {
    flex-shrink: 0;
    margin-right: 16px;
  }

  &__delete-icon {
    padding: 0 16px;
    display: block;
    cursor: pointer;
  }

  @media (max-width: 1100px) {

    &__logo {
      display: none;
    }
    
  }

  @media (max-width: 900px) {
    
    &__logo {
      display: none;
    }

  }

  @media (max-width: 715px) {

    &__text-input {
      display: none;
    }

    &__delete-icon {
      margin-left: auto;
    }

  }

}