.dashboard {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "sidepanel header header"
    "sidepanel editor preview";
  grid-template-rows: 72px auto;
  grid-template-columns: 250px 1fr 1fr;
	transition: all 0.3s ease;

  .header {
    grid-area: header;
  }

  .editor {
    grid-area: editor;
  }
  
  .preview {
    grid-area: preview;
  }

	&--hide-menu {
		grid-template-columns: 0px 1fr 1fr;
		
		.sidepanel {
			left: -250px;
		}

	}

}