.button {
  padding: 8px 24px;
  background-color: $orange-100;
  color: $light-100;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &__icon {
    margin-right: 8px;
  }
   
  &__text {
    text-align: center;
    width: 100%;
  }

  &:hover {
    background-color: $orange-60
  }

  @media (max-width: 800px) {

    padding: 16px;

    &--hide-text-on-small {
      
      & .button__text {
        display: none;
      }
      
      & .button__icon {
        margin-right: 0;
      }
      
    }
    
  }

}