.heading {
  color: $dark-40;

  &--h1 {
    font-size: 32px;
    font-weight:700;
  }

  &--h2 {
    font-size: 28px;
    font-weight: 300;
  }

  &--h3 {
    font-size: 24px;
    font-weight: 700;
  }

  &--h4 {
    font-size: 20px;
    font-weight: 700;
  }

  &--h5 {
    font-size: 16px;
    font-weight: 700;
  }

  &--h6 {
    font-size: 14px;
    font-weight: 700;
  }

  &--orange {
    color: $orange-100;
  }

  &--black {
    color: $dark-40;
  } 



}