.text-input {
  display: grid;
  grid-template-areas:
    "icon-file label icon-close"
    "icon-file input icon-close";
grid-template-rows: auto auto;
grid-template-columns: auto 1fr;


  &__icon, .icon {
    color: $light-40;
		align-self: center;
		justify-content: center;
		text-align: center;
		grid-row: span 2;		
		
		&--file {
			grid-area: icon-file;
			padding: 8px 8px 8px 0;
			margin-right: 4px !important;
		}

		&--close {
			grid-area: icon-close;
			padding: 8px 8px 8px 0;
			margin-right: 4px !important;
			cursor: pointer;
		}

  }
  
  &__label {
    grid-area: label;
    color: $dark-80;
  }
  
  &__input {
    grid-area: input;
    border: none;
    background-color: transparent;
    color: $dark-100;
    padding: 4px 0;
    caret-color: $purple-100;
    outline: none;
    color: $dark-100;
		cursor: pointer;
    
    &:focus {
      border-bottom: 1px solid $light-100;
			cursor: text;
    }

  }

  &--read-only {

    & .text-input__input:focus {
      cursor: pointer !important;
      border-bottom: 0;
    }
  }

}    
