.page {

	&--dark {

		.header {
			background-color: $dark-100;

			&__hamburger {
				background-color: $dark-60;
			}

		}

		.sidepanel { 
			background-color: $dark-80;
		}

		.text-input {

			&__icon {
				color: $light-100;
			}

			&__label {
				color: $light-100;
			}

			&__input {
				color: $light-100;
			}
		}
	
		.dashboard {

			.editor {
				background-color: $light-100;
			}
			
			.preview {
				background-color: $light-100;
			}

		}

		.theme-toggle {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 12px;
			
			&__icon, .icon {
				transition: all 0.1s ease;
		
				&--moon {
					color: $light-40;
				}
				
				&--sun {
					color: $dark-20;
				}
		
			}

			.switch__background .switch__toggle{
				right: calc(100% - (14px + 6px)) !important;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}

		}

		.editor {
			border-right: 1px solid $dark-60;
			
			&__textarea {
				background-color: $dark-100 !important;
				color: $light-40;
			}

		}

		.preview {
			
			&__content {
				background-color: $dark-100 !important;
				color: $light-40;

				 
	   			h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote {
		   			margin-bottom: 24px;
		   			color: $light-40;
				}

				a {
					text-decoration: underline 1px solid $light-40;
				}

				pre {
					background-color: $dark-60;
				}

				blockquote {
					background-color: $dark-60;
					}

				}

			}

			.tag {
				background-color: $dark-80;
			}

		}

}