* {
  font-family: "Roboto-Slab";
  font-weight: 400;
}

.text-input__input {
  font-family: "Roboto";
  font-size: 15px;
}

.text-input__label {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
}

.text {
  font-family: "Roboto";
  font-size: 15px;
}

.logo {
  font-family: "Roboto";
}