* {
  font-family: "Roboto-Slab";
  font-weight: 400;
  font-size: 14px;
}

.text-input__input {
  font-family: "Roboto";
  font-size: 15px;
}

.text-input__label {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
}

.text {
  font-family: "Roboto";
  font-size: 15px;
}

.subheading {
  font-size: 15px; 
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 2px;;
}

.logo {
  font-family: "Roboto";
}

.button__text {
  font-family: "Roboto";
}

.editor__textarea {
  font-family: 'Roboto-Slab';
}

.editor__preview {
  font-family: 'Roboto-Slab';
}