/* COLORS */
$dark-100: #151619;
$dark-80: #1d1f22;
$dark-60: #2b2d31;
$dark-40: #35393f;
$dark-200: #5a6069;
$light-100: #ffffff;
$light-80: #f5f5f5;
$light-60: #e4e4e4;
$light-40: #c1c4cb;
$light-20: #7c8187;
$orange-100: #e46643;
$orange-60: #f39765;
