@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-thin.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-thin.ttf') format('tff');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-light.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-light.ttf') format('tff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-regular.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-regular.ttf') format('tff');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-medium.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-medium.ttf') format('tff');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-semibold.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-semibold.ttf') format('tff');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-bold.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-bold.ttf') format('tff');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-extrabold.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-extrabold.ttf') format('tff');
	font-weight: 800;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Roboto-Slab";
	src:
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-black.woff2') format('woff2'),
	local('fonts/roboto-slab'), url('/fonts/roboto-slab/roboto-slab-black.ttf') format('tff');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}

